.container {
  width: 15%;
  height: 100%;
  color: white;
  padding: 2rem 1rem;
}
.navigation {
  margin-top: 1rem;
}
.selected {
  color: white;
}
.not_selected {
  color: #ffffff;
  opacity: 0.4;
}
