.container {
  width: 30%;
  height: 95%;
  color: white;
  padding: 2rem 1rem;
}
.title {
  font-weight: 700;
  font-size: 32px;
}
.searchbar_container {
  height: 35px;
  margin-top: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchbar {
  height: 100%;
  outline: none;
  border: none;
  width: 90%;
  background-color: transparent;
  color: #fff;
  font-family: basier circle;
  font-size: 16px;
}
.songs {
  overflow-y: scroll;
  height: 80%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 1rem;
}
.songs::-webkit-scrollbar {
  display: none;
}

.song {
  display: flex;
  justify-content: space-between;
  height: 88px;
}
.active {
  background-color: rgba(255, 255, 255, 0.08) !important;
}
.song_left_container {
  width: 95%;
  display: flex;
  align-items: center;
}
.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 1rem;
}
.song_title {
  font-size: 18px;
  margin-bottom: 5px;
}
.artist {
  font-size: 14px;
  opacity: 0.6;
}
.drawer {
  display: none;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 70%;
    height: 85%;
  }
}

@media screen and (max-width: 560px) {
  .drawer {
    display: block;
    width: 30px;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  .container {
    padding-top: 1rem;
    width: 100%;
    height: 80%;
  }
}
